<mat-list role="list">
  <div mat-subheader>Posts</div>
  <mat-list-item role="listitem">
    <mat-icon mat-list-icon>note</mat-icon>
    <div mat-line>Post Title</div>
    <div mat-line>Post Content</div>
  </mat-list-item>
  <mat-list-item role="listitem">
    <mat-icon mat-list-icon>note</mat-icon>
    <div mat-line>Post Title</div>
    <div mat-line>Post Content</div>
  </mat-list-item>
  <mat-list-item role="listitem">
    <mat-icon mat-list-icon>note</mat-icon>
    <div mat-line>Post Title</div>
    <div mat-line>Post Content</div>
  </mat-list-item>
</mat-list>
